body {
    margin: 5px 0px 5px 5px;
    border: solid black 5px;
    border-right: unset;
    padding: 0px 5px 15px 40px;
    overflow: auto;
}


h1 {
    margin-left: 100px;
    width: 300px;
    border: 5px solid rgb(20, 32, 36);
    border-top-style: double;
    border-bottom-style: double;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    position: relative;
    flex-flow:row;
}

.cell {
    padding: 20px;
    border: black 1px solid;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-auto-rows: 50px;
    gap: 0  px;
    padding: 2px;
    border: 3px black solid;
    width: fit-content;
    left: 0;
    resize: none;
}
.controls {
    padding-right: 5px;
    text-align: center;
}

.flex {
    display: flex;
}

.control {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2px 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    resize: none;
    width: max-content;
    display: inline-block;
}


